body{
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    background: URL("../../img/bg.jpg") center fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

a{
    text-decoration: none;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: grid;
}

header h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    grid-column: 1;
}

header h1 a {
    color : red;
}

nav{
    grid-column: 2;
}

nav ul {
    padding: 0px;
    margin: 0px;
    text-align: center;

}

nav li {
    list-style-type: none;
    padding: 0px;
    height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

nav a{
    color : white;
    font-size: 1.3em;
    line-height: 50px;
    padding: 5px 15px;
    opacity: 0.7;
    text-transform: uppercase;
}

nav li:hover {
    background-color: red;
}

#content{
    position:absolute;
    left: 50%;
    transform:translate(-50%);
    width: 70%;
    background-color:rgb(207, 207, 207,0.8);
    border-radius:10px;
    padding: 20px;
    margin-top: 5%;
}

input{
	border-radius:10px;
	padding:10px;
	margin:20px;
	border:none;
	font-size:15px;
}

input[type=button], input[type=submit], input[type=reset] {
    cursor:pointer;
	background-color: #013AD1;
	color: white;
}

input[type=submit]:hover{
	background-color: red;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
	transform:scale(1.1,1.1);
}

#redirection p a{
	color:blue;
	border-radius:5px;
}

#redirection p a:hover{
	color:red;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}